<!DOCTYPE html>
<html>
	<head >
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
		
		<div class="container">
			<div>
			<p th:if="${errormessage!=null}" th:text="${errormessage}"></p> 
			</div>	
			<form th:action="@{/register}" th:object="${user}" method="post">
				<div> Email: 
				<input type="text" th:field ="*{username}" /> 
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
				<div> Password: 
				<input type="text" th:field ="*{password}" /> 
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				
				<div><input type="submit" value="Register"/></div>
			</form>
		</div>
	</body>
</html>